<div class="card border-0 mb-4">
  <div class="card-body p-0">
    <h4>TAGS</h4>
    <dl class="tags">
    <dd><a href="<%- url_for(config.tag_dir) %>">All</a></dd>
    <%- partial('_partial/_tags') %>
    </dl>
  </div>
</div>