<%- partial('_partial/header') %>

<header class="header mb-5">
<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

      <%- partial('_partial/nav') %>

      <div class="info">
        <h1>ABOUT ME</h1>
        <p class="lead">关于我</p>
      </div>
  </div>
</div>
</div>
</header>

<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

      <%- page.content %>
      
  </div>
</div>
</div>

<%- partial('_partial/footer') %>